# Other files earlier, such as object detection
imageai
opencv-python
torch
torchvision

# General Data Science
pandas
numpy
seaborn
scipy

# For neural networks
tensorflow
pillow

# For label-studio for DL A2
label-studio
